:root {
  --IRIS: #4d5ae5;
  --NAVY-BLUE: #2e2f42;
  --CLOUD: #f4f4fd;
  --SLATE: #434455;
  --WHITE: #ffffff;
  --OCEAN: #404bbf;
  --CORNFLOWER: #e7e9fc;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 2%;
  color: var(--SLATE);
  background-color: var(--WHITE);
}

.container {
  margin: 0 auto;
  min-width: 1158px;
}

.navbar {
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 72px;
  justify-content: space-around;
  border-bottom: 1px solid var(--CORNFLOWER, #e7e9fc);
  background: var(--WHITE, #fff);
}

nav {
  margin: 0;
  display: flex;
  flex-direction: row;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.logo {
  margin-right: 76px;
  color: var(--IRIS);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.link {
  text-decoration: none;
  padding-right: 40px;
}

.list {
  display: flex;
  flex-direction: row;
  list-style: none;
  color: var(--SLATE);
  margin: 0;
}

.list:focus {
  color: var(--OCEAN);
}

.list:hover {
  color: var(--OCEAN);
}

.logo-black {
  color: var(--NAVY-BLUE);
  font-family: "Raleway", sans-serif;
}

.logo-white {
  color: var(--CLOUD);
  font-family: "Raleway", sans-serif;
}

.nav-link {
  color: var(--NAVY-BLUE);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  margin-right: 40px;
}

.nav-link:active {
  color: var(--OCEAN);
}

.nav-link:hover {
  color: var(--OCEAN);
}

.nav-link:focus {
  color: var(--OCEAN);
}

.nav-contact {
  color: var(--SLATE);
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.32px;
  text-decoration: none;
}

.nav-contact:hover {
  color: var(--OCEAN);
}

.nav-contact:active {
  color: var(--OCEAN);
}

.dark-bg {
  margin: 0 auto;
  padding-top: 188px;
  display: block;
  background: var(--NAVY-BLUE);
  min-width: 1440px;
  min-height: 600px;
}

.first-header {
  width: 496px;
  margin: 0 auto;
  padding-bottom: 48px;
  text-align: center;
  color: var(--WHITE);
  font-family: "Roboto", sans-serif;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 107.143%;
  letter-spacing: 1.12px;
}

.first-header-black {
  color: var(--SLATE);
  text-transform: uppercase;
}

.blue-button {
  display: block;
  margin: 0 auto;
  width: 169px;
  height: 56px;
  background: var(--IRIS);
  border-radius: 4px;
  border: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: var(--WHITE);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.64px;
  cursor: pointer;
}

.blue-button:focus {
  background-color: var(--OCEAN);
}
.blue-button:hover {
  background: var(--OCEAN);
}

.third-text {
  color: var(--NAVY-BLUE);
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0.4px;
}

.card-set {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
  list-style: none;
  padding-left: 0;
  padding-top: 72px;
}
.card-text-2 {
  padding: 32px 16px;
  gap: 8px;
}

.card-set-2 {
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  list-style: none;
  width: 1440px;
  padding-bottom: 120px;
}

.item {
  width: 264px;
  margin-right: 24px;
}

.item:last-child {
  margin-right: 0;
}

.card-text {
  color: var(--SLATE);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin: 0;
}

.card {
  background-color: var(--WHITE);
  text-align: center;
  align-items: center;
  padding-bottom: 32px;
  margin-right: 24px;
  gap: 8px;
  border-radius: 0px 0px 4px 4px;
  background: var(--WHITE, #fff);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.card-2 {
  display: block;
  width: 360px;
  height: 420px;
  text-align: left;
  border-bottom: 1px solid var(--CORNFLOWER);
  background: var(--WHITE);
  margin-right: 24px;
  margin-bottom: 48px;
}

.card:last-child {
  margin-right: 0;
}

.card-images {
  width: 360px;
  height: 300px;
  margin: 72px 24px 120px 0;
}

.team-images {
  width: 264px;
  height: 260px;
}

.second-header {
  margin: 0 auto;
  color: var(--NAVY-BLUE);
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 111.111%;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

.second-header-portfolio {
  color: var(--NAVY-BLUE);
  text-align: left;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin: 0;
}

.light-bg {
  margin: 0 auto;
  padding-top: 120px;
  display: block;
  min-width: 1440px;
  min-height: 732px;
  background: var(--CLOUD);
}
.footer {
  margin: 0 auto;
  display: block;
  min-width: 1440px;
  min-height: 312px;
  background: var(--NAVY-BLUE);
  padding: 100px 1020px 100px 156px;
}

.footer-text {
  color: var(--CLOUD);
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.footer-info {
  display: block;
  width: 264px;
}

.filter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  padding: 0;
}
.filter-button {
  margin: 0 24px 72px 0;
  padding: 12px 24px;
  background-color: var(--CLOUD);
  border-radius: 4px;
  border: 1px solid var(--CORNFLOWER, #e7e9fc);
  color: var(--IRIS);
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}

.filter-button:hover {
  background-color: var(--OCEAN);
  color: var(--WHITE);
  border-radius: 4px;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.filter-button:focus {
  color: var(--WHITE);
  background-color: var(--OCEAN);
  border-radius: 4px;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}
