/* ------------------------------MAIN CLASSES------------------------------ */
:root {
  --IRIS: #4d5ae5;
  --NAVY-BLUE: #2e2f42;
  --CLOUD: #f4f4fd;
  --SLATE: #434455;
  --WHITE: #ffffff;
  --OCEAN: #404bbf;
  --CORNFLOWER: #e7e9fc;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 2%;
  color: var(--SLATE);
  background-color: var(--WHITE);
}

img {
  display: block;
}

.container {
  min-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.section-portfolio {
  padding: 96px 0 120px 0;
}
/* ------------------------------HEADER------------------------------ */
.navigation {
  display: flex;
  width: 1158px;
}

.nav-logo-list {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo {
  margin-right: 76px;
  color: var(--IRIS);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  text-decoration: none;
}

.logo-black {
  color: var(--NAVY-BLUE);
}

.logo-white {
  color: var(--CLOUD);
}

.navbar {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 72px;
  justify-content: space-around;
  border-bottom: 1px solid var(--CORNFLOWER, #e7e9fc);
  background: var(--WHITE, #fff);
}

.link {
  text-decoration: none;
  padding-right: 40px;
}

.list {
  display: flex;
  flex-direction: row;
  list-style: none;
  color: var(--SLATE);
  gap: 40px;
}

.list:focus {
  color: var(--OCEAN);
}

.list:hover {
  color: var(--OCEAN);
}

.nav-link {
  color: var(--NAVY-BLUE);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  margin-right: 40px;
  padding: 24px 0;
}

.nav-link:active {
  color: var(--OCEAN);
}

.nav-link:hover {
  color: var(--OCEAN);
}

.nav-link:focus {
  color: var(--OCEAN);
}

.nav-contact {
  color: var(--SLATE);
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.32px;
  text-decoration: none;
}

.nav-contact:hover {
  color: var(--OCEAN);
}

.nav-contact:active {
  color: var(--OCEAN);
}
/* ----------------------FIRST SECTION----------------------  */
.dark-bg {
  margin: 0 auto;
  padding: 188px 0;
  display: block;
  background: var(--NAVY-BLUE);
}

.first-header {
  max-width: 496px;
  margin: 0 auto;
  padding-bottom: 48px;
  text-align: center;
  color: var(--WHITE);
  font-family: "Roboto", sans-serif;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 107.143%;
  letter-spacing: 1.12px;
}

.first-header-black {
  color: var(--SLATE);
  text-transform: uppercase;
}

.blue-button {
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  background-color: var(--IRIS);
  border-radius: 4px;
  border: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: var(--WHITE);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.64px;
  cursor: pointer;
}

.blue-button:focus {
  background-color: var(--OCEAN);
}
.blue-button:hover {
  background: var(--OCEAN);
}

/* -------------------------SECOND SECTION-------------------------  */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.third-text {
  color: var(--NAVY-BLUE);
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0.4px;
  margin-bottom: 8px;
}

.card-set {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 24px;
  list-style: none;
  padding-left: 0;
  padding-top: 72px;
}

.second-header {
  margin: 0 auto;
  color: var(--NAVY-BLUE);
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 111.111%;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.item {
  width: calc((100% - 72px) / 4);
}

.item:last-child {
  margin-right: 0;
}

.card-text {
  color: var(--SLATE);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin: 0;
}

/* -------------------------THIRD SECTION-------------------------  */
.card-set-li {
  width: calc((100% - 48px) / 3);
}

/* ---------------------------FOURTH SECTION---------------------------  */

.light-bg {
  margin: 0 auto;
  display: block;
  padding: 120px 0;
  min-height: 732px;
  background: var(--CLOUD);
}

.employee {
  padding: 32px 0px;
}

.employee-header {
  text-align: center;
  margin-bottom: 8px;
}

.employee-text {
  text-align: center;
}

.card {
  background-color: var(--WHITE);
  text-align: center;
  align-items: center;
  width: calc((100% - 72px) / 4);
  gap: 8px;
  border-radius: 0px 0px 4px 4px;
  background: var(--WHITE, #fff);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.card:last-child {
  margin-right: 0;
}

/* ----------------------FOOTER----------------------- */
.footer {
  margin: 0 auto;
  display: block;
  min-height: 312px;
  background: var(--NAVY-BLUE);
  padding: 100px 0;
}

.footer-text {
  color: var(--CLOUD);
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
}

.logo-footer {
  display: inline-block;
  margin-bottom: 16px;
}
/* -----------------------------------PORTFOLIO--------------------- */

.filter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  padding: 0;
  gap: 24px;
  margin-bottom: 72px;
}
.filter-button {
  padding: 12px 24px;
  background-color: var(--CLOUD);
  border-radius: 4px;
  border: 1px solid var(--CORNFLOWER);
  color: var(--IRIS);
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}

.filter-button:hover {
  background-color: var(--OCEAN);
  color: var(--WHITE);
  border: 1px solid transparent;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.filter-button:focus {
  background-color: var(--OCEAN);
  color: var(--WHITE);
  border: 1px solid transparent;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

/* ----------------------------------PROJECTS------------------------- */

.card-portfolio {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
  padding: 120px 0;
  column-gap: 24px;
  row-gap: 48px;
  list-style: none;
}

.card-2 {
  width: calc((100% - 48px) / 3);
  height: 420px;
  text-align: left;
  background: var(--WHITE);
}

.card-text-2 {
  padding: 32px 16px;
  gap: 8px;
  border: 1px solid var(--CORNFLOWER);
  border-top: none;
}

.second-header-portfolio {
  color: var(--NAVY-BLUE);
  text-align: left;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 8px;
}
